body {
    font-family: "Lato", sans-serif;
    background-color: #DAE2B6;
}


.topbar {
    margin-right: 10px;
    position: relative;
    background: #F4EAD5;
    overflow-x: hidden;
    left: 10px;
    top: 10px;
    padding: 8px 8px;
}


.banner {
    position: relative;
    text-align: center;
    font-size: 30px;
}


.sidebar {
    width: 180px;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #F4EAD5;
    overflow-x: hidden;
    padding: 8px 8px;
}


.sidebar a {
    padding: 6px 15px 20px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #B19470;
    display: block;
}


.sidelist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: max-content;
}

a {
    color: #B19470;
    ;
}

li a.active {
    background-color: #CCD6A6;
    color: #FFFBE9;
}


li a:hover:not(.active) {
    background-color: #FFFBE9;
    color: #B19470;
}


.main {
    background-color: #F4EAD5;
    position: relative;
    margin-left: 220px;
    font-size: 22px;
    bottom: 388px;
    padding: 1px 11px;
    color: #867055;

}

.mainimg {
    text-align: center;
}

.eventbox {
    margin: 10px 20px;
    padding: 10px 10px 10px 10px;
    background: #DAE2B6;
    border: 1px solid #B19470;
    display: inline-block;

}

.descbox {
    margin: 10px 2px;
    padding: 10px 10px 10px 10px;
    background: #DAE2B6;
    border: 1px solid #B19470;
    float: right
}

.container {
    text-align: center;
    color: #867055;
    margin: auto;
    width: 40%;
    padding: 10px
}


.footer {
    font-size: 16px;
}


.quickguide {
    display: inline-block;
}


.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.item a {
    text-decoration: none;
    color: inherit;
}

.item a:hover:not(.active) {
    text-decoration: underline;

}

.caption {
    display: block;
}

.mainalign {
    text-align: center;
}

.maintext {
    font-size: 17px; 
}