body {
    font-family: "Lato", sans-serif;
    background-color: #DAE2B6;
    height: 100%;
    margin: 0;
    padding: 8px 8px
}

.main {
    background: #F4EAD5;
    border: 3px solid #867055;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.sidebar {
    align-self: flex-end;
    background: #F4EAD5;
}


.sidebar a {
    text-decoration: none;
    font-size: 15px;
    color: #B19470;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background: #F4EAD5;
    border: 3px solid #867055;
    border-radius: 5px;
    padding: 8px;
    align-self: center;
}

.banner {
    align-self: center;

}


.bio {
    align-self: normal;
}

.descbox {
    flex: 0;
    align-self: center;
    object-fit: contain;
    max-width: 100%;
}

.ffooter {
    background: #F4EAD5;
    border: 3px solid #867055;
    border-radius: 5px;
    padding: 8px;
}

a {
    color: #B19470;
}

li a.active {
    color: #42372a;
}


li a:hover:not(.active) {
    background-color: #FFFBE9;
    color: #B19470;
}